@model BookShop.Models.BookEditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-10">
        <form method="post" asp-antiforgery="true"
              data-ajax="true"
              data-ajax-method="POST"
              data-ajax-url="BookSpa/EditBook"
              data-ajax-confirm="Are you sure you want to save the book?"
              data-ajax-success="BookSpaNs.Books.bookSaveSuccess"
              data-ajax-failure="BookSpaNs.Books.bookSaveFailure">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @Html.HiddenFor(m => m.Id)
            @Html.Hidden("AuthorsList", ViewData["AuthorsList"])
            @Html.Hidden("GenresList", ViewData["GenresList"])

            <div class="form-group">
                <label asp-for="BookTitle" class="control-label"></label>
                <input asp-for="BookTitle" class="form-control" />
                <span asp-validation-for="BookTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorId" class="control-label"></label>
                <select asp-for="AuthorId" asp-items="Model.Authors" class="form-control"></select>
                <span asp-validation-for="AuthorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenreId" class="control-label"></label>
                <select asp-for="GenreId" asp-items="Model.Genres" class="form-control"></select>
                <span asp-validation-for="GenreId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearPublished" class="control-label"></label>
                <input asp-for="YearPublished" class="form-control" />
                <span asp-validation-for="YearPublished" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsCheckedOut" /> @Html.DisplayNameFor(model => model.IsCheckedOut)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


