@{
    ViewData["Title"] = "Books SPA";
}

<h1>Books SPA</h1>

<p>
    @Html.ActionLink("Add New Book", "EditBook", new { id = 0 })
</p>
<table class="table" id="bookList">
    <thead>
        <tr>
            <th>
                <label>Id</label>
            </th>
            <th>
                <label>Book Title</label>
            </th>
            <th>
                <label>Author's Name</label>
            </th>
            <th>
                <label>Genre</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section Scripts {
    <script>
        $(function () {
            $("#bookList").dataTable({
                ajax: {
                    url: '/BookSpa/GetBookList',
                    // dataSrc is used to tell JQuery to use the whole dataset, not just its specific part
                    dataSrc: ''
                },
                columns: [
                    {
                        data: 'id'
                    },
                    {
                        data: 'bookTitle'
                    },
                    {
                        data: 'authorName'
                    },
                    {
                        data: 'genre'
                    },
                    {
                        render: function (data, type, row) {
                            return '<button class="btn btn-sm btn-link" onclick="ViewBook(&#39;' + row.id + '&#39;)">View Book</button>';
                        }
                    }
                ]
            });
        });
        function ViewBook(id) {
            alert('The book to view: ' + id);
        }
    </script>
}
